<div class="border">
  <div class="heading">
    <p>COVID-19 Regualtions</p>
  </div>
  <div class="content">
    <p id="line1">17 August 2021
      Dear Mooikloof Ridge Resident, We hope that you and your loved ones are safe and healthy. The following is a
      reminder
      of items to be highlighted in terms of Lockdown level 3: </p>
    <p>• The clubhouse and other facilities are opened. Please note that the Clubhouse will accommodate 50% of its
      maximum
      capacity, a maximum of 30 people will be permitted. for functions.</p>
    <p>• The curfew between 22:00 to 04:00 is applicableand 05:00, will no longer be applicable.</p>
    <p>• The wearing of face masks
      when leaving your residence is mandatory. A person must wear a cloth face mask or a homemade item that covers the
      nose
      and mouth, or another appropriate item to cover the nose and mouth. The wearing of a face mask is mandatory for
      every
      person when in a public place, excluding a child under the age of six years.</p>
    <p> • The existing Estate and Scheme rules pertaining to consumption of alcohol still applies, no consumption of
      alcohol
      in public areas.</p>
    <p> • The Estate Office hours will be from 09:00 to 15:00 daily and will operate under strict COVID 19
      protocol. Resident are urged to conduct matters electronically by emailing the office at office@mooikloofridge.com
      or
      reception@mooikloofridge.com or the Managing Agent daveg@pretor.co.za.</p>
    <p>Other measures may be implemented as required and communicated as necessary.</p>

    <div class="imgs">
      <img src="/covidIMG.PNG" alt="important informration about covid.">
      <img src="/nbnotice.PNG" alt="more important information about covid">

    </div>

  </div>
</div>