<div class="border">
  <div class="heading">
    <p>How to contatc us</p>
  </div>
  <!--  <div class="grid">
    <div class="col">
      <div class="p-card">
        ClickOn System sms Numbers<br>
        Automated System<br>
        082 216 0255 | 071 600 4520
      </div>
      <div class="col">

        ClickOn System sms Numbers<br>
        Automated System<br>
        082 216 0255 | 071 600 4520

        <div class="col">
          <div class="p-card">
            ClickOn System sms Numbers<br>
            Automated System<br>
            082 216 0255 | 071 600 4520
          </div>


        </div>

      </div>-->

  <p-tabView>
    <p-tabPanel header="Header 1">
      <div class="grid">
        <div class="col-2">
          <p-card>
            <label>Stage 35353</label>
            <p>Power will be off for 1 hour.</p>
            <p>13:00 - 14:00</p>
          </p-card>
        </div>
      </div>
      <div class="col-2">
        <p-card class="cards">
          <label>Stage sgg</label>
          <p>Power will be off for 1 hour.</p>
          <p>13:00 - 14:00</p>
        </p-card>
        <div class="col-2">
          <p-card class="cards">
            <label>Stage next to</label>
            <p>Power will be off for 1 hour.</p>
            <p>13:00 - 14:00</p>
          </p-card>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Header 2">
      <div class="grid">
        <div class="col-2">
          <p-card>
            <label>Stage 333</label>
            <p>Power will be off for 1 hour.</p>
            <p>13:00 - 14:00</p>
          </p-card>
        </div>
      </div>

    </p-tabPanel>
  </p-tabView>

  <!--
  <p-table [value]="contacts" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Category</th>
        <th>Quantity</th>
      </tr>
    </ng-template>

  </p-table>-->

</div>