<div class="border">
  <div class="header">
    <p>Our protection</p>
  </div>

  <div class="content">
    <div class="imgs">
      <img src="/stallionjpg.jpg" alt="security logo">
    </div>
    <p> Stallion Security are passionate about people and their protection. Their aim is to
      create real community
      awareness and to become part of that family. It’s much more than simply providing a security service. A major
      part
      of the Stallion Security philosophy has been moving from the purely reactive security philosophy
      to a proactive
      model.
    </p>
    <p>The traditional reaction service consisted of a client pressing a panic button or contacting a control room call
      centre and waiting for a vehicle to arrive from a central point. The Stallion Security model has
      highly visible
      patrol vehicles in the Estate at all times. Because they patrol their designated areas continuously response time
      is
      incredibly fast. Once you have the correct number of vehicles operating in an area you can rely on reduced
      response
      time. Not only does this high visibility and presence benefit our residents it assists the whole community.</p>

    <p> Modern technology has evolved Stallion Security’s proactive model even further. Remote CCTV
      cameras feed
      pictures
      back to the company’s nerve centre. The cameras are strategically placed at various points around the areas that
      they protect. The cameras have given them the eyes to alert their patrol vehicles to any suspicious movement
      within
      seconds. The cameras also act as a deterrent as they are highly visible. Stallion Security spend a vast amount of
      time researching the latest security technology and are continuously upgrading their equipment in order to enhance
      security.</p>

    <p>Stallion Security spend a great deal of effort on recruiting and training the right staff. They prefer to employ
      ex-police and military operatives and most importantly try to identify passion in a candidate. All their staff are
      subject to rigorous security checks and undergo regular polygraph tests. All their employees undergo intensive
      weekly training in the use of firearms, unarmed combat, driving skills and public relations.</p>

    <p> You can be assured that you are in safe hands and can enjoy a harmonious, secure and safe living environment at
      all
      times!</p>
  </div>
</div>