.border {
  margin: 25px;
}
.heading {
  text-align: center;
  background-color: rgb(0, 128, 0);
  font-size: 25px;
}
.agentinfo {
  text-align: center;
}
.grid {
  background-color: #f9f9f9;
  height: 600px;
}
input {
  border-radius: 2px;
}
