<div class="border">
  <div class="home-content">
    <h3>Welcome to Mooikloof Ridge!</h3>
  </div>
  <div class="body">
    <p>Located in Pretoria East, conveniently close to all major highways, schools and shopping malls, Mooikloof Ridge
      offers a lifestyle enjoyed by many in the eastern suburbs of Pretoria. With 24-hour access control and highly
      visible security patrols you can relax and enjoy life</p>
    <p> Mooikloof Ridge offers units for sale and rent within its various Sectional Title Schemes. The Entertainment
      Area
      offers conveniences such as a braai area, swimming pools, tennis court, cricket pitch, walking trails and
      well-maintained gardens that is ideal for nature lovers.</p>
    <p>With an Estate Manager on site you can be assured that you will enjoy an immaculately maintained, pleasant and
      convenient heaven to make your home. The Mooikloof Shopping Centre is situated opposite Mooikloof Ridge offering a
      restaurant, filling station and food chain stores, shopping is convenient and just around the corner!
      There is a high demand for rental accommodation in the estate, making it a sought after investment opportunity,
      well
      balanced with owner residents to ensure ongoing stability of each Body Corporate</p>
    <p>Come and visit us and discover that living in Mooikloof Ridge is truly harmonious living</p>
  </div>

</div>